body {
	background-color: white;
}

/*#game-over {
	text-align: center;
	color:pink;
	font-size: 100px;
	width: 700px;
	height: 100px;
	margin: 200px auto 0px auto;
}*/

#game-board{
	width: 80%;
	height: 80%;
	position: absolute;
	margin: 0px 10%;
}

.initial-color, #reset {
	background-color: white;
	width: 54px;
	float: left;
	height: 54px;
	border: solid gray 1px;
	border-radius: 50%;
	margin: 20px 26px;
	text-align: center;
	padding: 40px;
}

.turned-card {
	background-color: pink;
	width: 54px;
	float: left;
	height: 54px;
	border: solid pink 1px;
	border-radius: 50%;
	margin: 20px 26px;
	text-align: center;
	padding: 40px;
}

button {
	position: absolute;
	width: 76%;
	height: 30px;
	font-size: 14px;
	margin: 0px auto;
	background-color: white;
	border: none;
	color: gray;
	margin: 570px 12% 40px;
}

/*.found {
	background-color: #E6F4EC;
	width: 54px;
	float: left;
	height: 54px;
	border: solid #E6F4EC 1px;
	border-radius: 50%;
	margin: 20px;
	text-align: center;
	padding: 40px;
}*/