body {
	background-color: #E6F4EC;
}

#gameBoard{
	background-color: #E6F4EC;
	width: 700px;
	height: 560px;
	margin: 20px auto;
	padding: 0px;
	/*border: 1px red dotted;*/
}

div#gameBoard > div{
	background-color: white;
	width: 94px;
	float: left;
	height: 94px;
	border: solid white 1px;
	border-radius: 50%;
	margin: 20px;

}

button {
	width: 100px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	margin: 0px auto;
	background-color: white;
	border: solid white 1px;
	color: gray;
}

#button-area {
	width: 120px;
	margin: 40px auto 0px auto;
}

#clicked-card {
	background-color: blue;
	width: 94px;
	float: left;
	height: 94px;
	border: solid gray 1px;
	border-radius: 50%;
	margin: 20px;
}