#reset {
	background-color: white;
	width: 54px;
	float: left;
	height: 54px;
	border: solid white 1px;
	border-radius: 50%;
	margin: 10px;
	text-align: center;
	padding: 40px;
}

body {
	background-color: #E6F4EC;
}

#game-over {
	text-align: center;
	color:pink;
	font-size: 100px;
	width: 700px;
	height: 100px;
	margin: 200px auto 0px auto;
}

#game-board{
	width: 1060px;
	height: 560px;
	margin: 20px auto;
	padding: 0px;
}

.found {
	background-color: #E6F4EC;
	width: 54px;
	float: left;
	height: 54px;
	border: solid #E6F4EC 1px;
	border-radius: 50%;
	margin: 20px;
	text-align: center;
	padding: 40px;
}

.initial-color{
	background-color: white;
	width: 54px;
	float: left;
	height: 54px;
	border: solid white 1px;
	border-radius: 50%;
	margin: 20px;
	text-align: center;
	padding: 40px;

}

.turned-card {
	background-color: pink;
	width: 54px;
	float: left;
	height: 54px;
	border: solid pink 1px;
	border-radius: 50%;
	margin: 20px;
	text-align: center;
	color: white;
	padding: 40px;
}

button {
	position: absolute;
	width: 80%;
	height: 30px;
	font-size: 14px;
	margin: 0px auto;
	background-color: white;
	border: solid white 1px;
	color: gray;
	margin: 570px 10% 40px;
}

#clicked-card {
	background-color: blue;
	width: 94px;
	float: left;
	height: 94px;
	border: solid gray 1px;
	border-radius: 50%;
	margin: 20px;
}